#scrollspyHeading1 {
  height: 870px;
  background-color: #1c1a19;
}

.primary-text {
  color: #f55800;
}

.supporting-text {
  color: #fff;
}

.description {
  color: #f4f5f7;
}

#scrollspyHeading2 {
  height: auto;
  background-color: #fff;
}

.featured-img {
  width: 100%;
  height: auto;
}

.tags {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#scrollspyHeading3 {
  height: auto;
  background-color: #1c1a19;
}

.skills{
  color: #fff;
}

#scrollspyHeading4 {
  height: auto;
  background-color: #fff;
}